@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    margin-top: 70px;
    
}

h1,h2,h3,h4,H5,h6{
    font-weight: 300;
}

label,p{
    font-weight: 100;
    font-size: 15px;
    margin-bottom: 0;
}

.navbar-nav > li{
    margin-left:30px;
    margin-right:30px;
  }

small{
    font-size: 12px;
    font-weight: 100;
}

.navbar{
    padding-left: 10%;
    padding-right: 10%;
}



.navbar-nav li{

}

.help-block{
    display: none;
}

.header{
    top: 0;
    height: 100vh;
    background-image: url('img/close-up-photo-of-smiling-girl-covering-mouth-1445465.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.header .nav{
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    padding-top: 2%;
    z-index: 20;
}

.header .nav .logo{
    height: 5%;
    width: 20%;
}

.header .nav .logo img{
    height: 50px;
    animation: logobigger 1s 1;
}

.header .nav .sub{
    height: 5%;
    width: 80%;
}

.header .nav .sub ul{
    right: 0;
    float: right;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.header .nav .sub ul li{
    list-style: none;
    margin-right: 25px;
}

.header .nav .sub ul li a i{
    list-style: none;
    margin-right: 25px;
    color: #FA303E;
}

.header .nav .sub ul li .st{
    color: #C94D00;
    margin-top: 12.5%;
}

.header .nav .sub ul li .scrolle{
    display: none;
}

/*on scroll down nav changes*/

.header .nav.scrolled{
    display: flex;
    top: 0;
    margin-left: 0;
    margin-top: 0px;
    position: fixed;
    background-color: rgba(0,0,0,.3);
    width: 100%;
    padding-top: .25%;
}

.header .nav.scrolled .logo{
    height: 3%;
    width: 20%;
    padding-top: 2%;
    padding-left: 10%;
}

.header .nav.scrolled .logo img{
   height: 40px;
   animation: logothiner 1s 1;
}

.header .nav.scrolled .sub{
    height: 5%;
    width: 80%;
    padding-top: 2%;
    padding-right: 10%;
}
.header .nav.scrolled .sub ul{
    right: 0;
    float: right;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.header .nav.scrolled .sub ul li{
    list-style: none;
    margin-right: 25px;
}

.header .nav.scrolled .sub ul li .st{
    color: #C94D00;
    margin-top: 25%;
}

/* Dropdown Button */
.dropbtn {
    background: none;
    color: white;
    min-height: 20px;
    max-height: 20px;
    padding: 0;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

.header .nav.scrolled .sub ul li .scrolle{
    display: none;
}

.headerl{
    /*height: 30vh;*/
}

.headerl .nav{
    display: flex;
    margin-top: 2%;
    margin-left: 0%;
    padding-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    z-index: 20;
}

.headerl .nav .logo{
    height: 5%;
    width: 20%;
}

.headerl .nav .logo img{
    height: 50px;
    animation: logobigger 1s 1;
}

.headerl .nav .sub{
    height: 5%;
    width: 80%;
}

.headerl .nav .sub ul{
    right: 0;
    float: right;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.headerl .nav .sub ul li{
    list-style: none;
    margin-right: 25px;
}

.headerl .nav .sub ul li .st{
    color: #C94D00;
    margin-top: 12.5%;
}



/*on scroll down nav changes*/

.headerl .nav.scrolled{
    display: flex;
    top: 0;
    left: 0;
    margin-left: 0%;
    margin-top: 0px;
    position: fixed;
    background-color: rgba(0,0,0,.3);
    width: 100%
}

.headerl .nav.scrolled .logo{
    height: 3%;
    width: 20%;
    padding-top: 2%;
    padding-left: 10%;
}

.headerl .nav.scrolled .logo img{
   height: 40px;
   animation: logothiner 1s 1;
}

.headerl .nav.scrolled .sub{
    height: 5%;
    width: 80%;
    padding-top: 2%;
    padding-right: 10%;
}
.headerl .nav.scrolled .sub ul{
    right: 0;
    float: right;
    display: flex;
    text-decoration: none;
    list-style: none;
}

.headerl .nav.scrolled .sub ul li{
    list-style: none;
    margin-right: 25px;
}

.headerl .nav.scrolled .sub ul li .st{
    color: #C94D00;
    margin-top: 12.5%;
}

.headerl .content{

    background-color: #707070;
    height: 8vh;
}

/*end on scroll down nav changes*/

.header .content{
    float: right;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
}

.header .content .slogan{
    margin-top: 10%
    
}

.slog{
    color: #FF5700;
    font-weight: bolder;
}

.slog span{
    color: #000;
}

.descrip{
    color: #000;
    font-weight: 500;
    margin-top: 10%;
}

 .descrip span{
    color: #F50000;
}

.header .content .post{
    margin-top: 10%;
    /*animation: buttonMovingLeft 1s 1;*/
}

.header .content .post.scrolled{
    margin-left: 50%;
    /*animation: buttonMovingRight 1s 1;*/
}
.carousel-indicators {
    text-align: left;
    float: left;
    left: -10% !important;
    right: inherit;
}

.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 16px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #FFFFFF;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
.carousel-indicators .active {
    width: 48px;
    height: 16px;
    margin: 10px;
    background-color: #F2BE8D;
}

.carousel-caption {
    position: absolute;
    top: 20%;
    left: 65%;
    width: 35%;
 }

.search{
    margin-left: 10%;
    margin-right: 10%;
    z-index: 100;
    
}

.search.focus{
    margin-top: 10%;
}

.search .searchForm{
    width: 80%;
    margin-left: 0%;
    height: 10%;
    background-color: #F2BE8D;
    margin-top: -9%;
    padding-top: 4%;
    padding-bottom: 4% ;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
    border-radius: 5px;
    margin-bottom: 5%;
    z-index: 100;
    position: relative;
}

.search .searchForm .form{
    width: 90%;
}

.search .searchFormY{
    width: 80%;
    margin-left: 0%;
    height: 10%;
    background-color: #F2BB03;
    margin-top: -3%;
    padding-top: 2.5%;
    padding-bottom: 2.5% ;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
    border-radius: 5px;
}

.search .searchFormY .form{
    width: 90%;
}

.categorie{
    margin-top: 5%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

 .cat{
    width: 80%;
    overflow: hidden;
    margin-left: 5%;
    padding-top: .8vh;
    background-color: #FFF;
    border: 0.1px solid rgba(112,112,112,0.16);
    border-bottom: #F2BB03 1px solid;
    box-shadow: 26px 34px 56px -30px rgba(0,0,0,0.40);
}

.catImg{
    background-color: rgba(250,48,62,.09);
    border-radius: 50%;
    margin-left: 5px;
    margin-top: 5px;
    height: 150px;
    width: 150px;
    padding: 15px;
}

.catImg .im{
        max-width: 80%;
        max-height: 80%;
}

.catImg .im img{
        max-width: inherit;
        max-height: inherit;
        margin: 5%;
        display: block;
        margin: 0 auto;
}

.catTitle{
    top: 30% !important;
    left: 30% !important;
    right: inherit;
    float: left;
    margin-top: 30px;
    position: absolute;
    hyphens: none;
}



.catTitle h3{
    text-align: center;
    
}

.catSub{
    list-style: none;
    text-decoration: none;
    text-align: left;
    right: 0;
    bottom: 0;
    position: relative;
}

.catSub li{
    font-size: 12px;
    list-style-type: none;
}

.catSub li:before {
    content: '\2014';
    position: absolute;
    margin-left: -15px;
  }

.titleRecent{
    background-color: #FFFFFF;
    max-height: 10%;
    margin-top: -5%;
}
.titleRecent img{
    transform: translate(60%,70%);
    height: 300px;
}



.titleRecent .heading{
    background-color: #F2545B;
    padding-top: 2.5%;
    padding-bottom: 5%;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
}

.titleRecent .heading h1{
    text-align: center;
    color: #FFFFFF;
}

.titleRecent .heading h4{
    text-align: center;
    color: #FFFFFF;
}

.titleRecents{
    background-color: #FFFFFF;
    max-height: 10%;
    margin-top: 5%;
}
.titleRecents img{
    transform: translate(400%, -80%);
    height: 300px;
}



.titleRecents .headings{
    background-color: #F2BE8D;
    padding-top: 2.5%;
    padding-bottom: 5%;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
}

.titleRecents .headings h1{
    text-align: center;
    color: #FFFFFF;
}

.titleRecents .headings h4{
    text-align: center;
    color: #FFFFFF;
}

.recent{
    width: 70%;
    margin-left: 15%;
}

@media screen and (max-width: 700px) {
    .recent{
        width: 100%;
        margin-left: 0;
    }
}

.recent .recentItem{
    margin-top: 8%;
    display: flex;
    width: 70%;
    margin-left: 15%;
    padding: 1%;
    border: 1px rgba(0,0,0,0.16) solid;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
}

.recent .recentItem .recentImg{
   width: 30%;
}

.recent .recentItem .recentImg img{
    width: 100%;
    height: 98%;
}

.recent .recentItem .recentDetails{
    padding: 1%;
    padding-left: 5%;
    width: 70%;
}

.recent .recentItem .recentDetails .recentDetailsTitle{
    font-size: 30px;
    color: #D98E3E;
    font-weight: 300;
}

.recent .recentItem .recentDetails  .recentDetailsDescrip{
    display: flex;
    font-size: 20px;
    
}

.recent .recentItem .recentDetails  .recentDetailsDescrip .recentDetailsDescripSub{
    font-size: 15px;
}

.recent .recentItem .recentDetails  .recentDetailsDescrip .recentDetailsDescripAddress{
    font-size: 15px;
    margin-left: 2%;
}

.recent .recentItem .recentDetails .Price{
    margin-top: 10%;
    font-size: 30px;
    font-weight: 300;
    color: #FA303E;
}

.recent .recentItem .recentDetails .owner{
    margin-top: 10%;
    font-size: 20px;
    font-weight: 300;
    color: #AEAFB0;
}

.recent .recentItem .recentDetails .ref{
    font-size: 12px;

}
.recent .recentItem .recentDetails .miseEnLigne{
    font-size: 12px;
}

.recent .pos{
    width: 50%;
   margin-left: 25%;
    height: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.recent .pos .posLeft{
   content: '\f359';
    font-weight: 100;
    font-size: 40px;
    height: 5%;
    width: 5%;
    line-height: 40px;
    color: #000000;
}

.recent .pos .posLeft span a{
    color: #000000;
}



.recent .pos .posRight{
    font-weight: 100;
    font-size: 40px;
    height: 5%;
    width: 5%;
    line-height: 40px;
}

.recent .pos .posRight span a{
    color: #000000;
}

.recent .pos .posScale{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.recent .pos .posScale .posScaleCh{
    height: 1px;
    border: 1px #AEAFB0 solid;
    margin-left: 3px;
    min-width: 3%;
    margin-top: 24.5px;
    border-radius: 0.5px;
}

.recent .pos .posScale .posScaleCh:nth-child(1){
    height: 15px;
    border-radius: 10px;
    border: 2px solid #AEAFB0;
    transform: translate(3px,-7px);
}

.recent .pos .posScale .posScaleCh:nth-child(1) .num{
    transform: translate(0px,-25px);
    font-size: 20px;
    color: #FA303E;
}

.recent .pos .posScale .posScaleCh:nth-child(20){
    height: 15px;
    border-radius: 10px;
    border: 2px solid #AEAFB0;
    background-color: #AEAFB0;
    transform: translate(-3px,-7px);
}

.recent .pos .posScale .posScaleCh:nth-child(20) .num{
    transform: translate(0px,-25px);
    font-size: 20px;
    color: #FA303E;
}

.newsletter{
    margin-top: 5%;
    background-color: #000;
    color: #FFFFFF;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.newsletter .textletter{
   
    margin-right: 10%;
    background-image: url('img/union3.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter .textletter .letterTitle{
    margin-bottom: 2%;
}

.newsletter .textletter .textnews{
    margin-top: 5%;
    margin-bottom: 5%;
}

.newsletter .textletter .textsuccess{
    color: #ACACAC;
    margin-top: 5%;
}

.newsletter .textletter .textsuccess span{
    color: #4BB543;
    margin-right: 5%;
}

.newsletter .imageletter{
    background-image: url("img/letter.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    width: 50%;
    margin-top: -5%;
    margin-right: 10%;
}

.cu{
    background-color: #F2BD02;
    padding-top: 5vh;
    padding-bottom: 5vh;
    
    box-shadow: 1px 2px rgba(0,0,0,0.16);
}

.cu h1{
    text-align: center;
    color: #FFFFFF;
}

.cuf{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    /*height: 60vh;*/
    margin-left: 10%;
    margin-right: 10%;
}


.footer{
    background-color: #F2BD02;
    padding: 5px 10% 5px 10%;
    display: flex;
    height: 10vh;
    background-image: url("img/logoreverse.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 8vh;
    /*margin-left: 1000px;*/
    overflow: hidden;
    width: 100%;
}

.footer.black{
   background-color: #000;
   color: #FFF;
   background-image: url("img/logoW.png");
}

.footer.saumon{
    background-color: #F2BE8D;
    color: #000;
    background-image: url("img/logo.png");
 }

.footer .social{
    
}

.footer  .social .su{
    display: flex;
}

.footer .social .su li{
    padding: 3vh 10px 5px 10px;
    list-style: none;
    color: #000000;
}

.footer .social .su li a{
    color: #000000;
}

.footer .social .su li a:hover{
    color: #FA303E;
}

.footer .social .su li a i{
    color: #000000;
}

.footer .social .su li a i:hover{
    color: #FA303E;
}

.footer .social{
    
}

.footer.black  .social .su{
    display: flex;
}

.footer.black .social .su li{
    padding: 3vh 10px 5px 10px;
    list-style: none;
    color: #FFF;
}

.footer.black .social .su li a{
    color: #FFFFFF;
}

.footer.black .social .su li a:hover{
    color: #FA303E;
}

.footer.black .social .su li a i{
    color: #FFF;
}

.footer.black .social .su li a i:hover{
    color: #FA303E;
}

.footer .nc{ 
    text-align: right;
    padding-top: 3vh;
}

a:hover{
    text-decoration: none;
}

.details{
    margin-left: 10%;
    margin-right: 10%;
}

.details .cat1{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
}

.details .detailF{
    display: flex;
}

.details .detailF .detailIPR{
    width: 80%;
    box-shadow: 3px 2px rgba(0,0,0,0.10);
    border: 1px rgba(0,0,0,0.05) solid;
}

.details .detailF .detailIPR .im{

}

.imB{
    width: 70%;
    height: 30%;
}

.imB img{
    height: 60vh;
    width: 80%;
    margin-left: 10%;
}

.imS{
    width: 30%;
    height: 30%
}

.imS .imST,.imSB{
    height: 50%;
}
.imS .imST img{
    height: 45%;
    width: 80%;
}

.imS .imSB img{
    height: 45%;
    margin-bottom: 0%;
    margin-top: 5vh;
    width: 80%;
}

.details .detailF .detailIPR .pr{
margin-top: 3%;
}
.details .detailF .detailIPR .pr .detailD{
    font-weight: 300;
}

.details .detailF .detailIPR .pr .detailT{
    display: flex;
}

.details .detailF .detailIPR .pr .detailT{
    display: flex;
}

.details .detailF .detailIPR .pr .detailT .prix,.ref{
    width: 20%;
    text-align: left;
    font-weight: 200;
}

.details .detailF .detailIPR .pr .detailC{
    display: flex;
}

.details .detailF .detailIPR .pr .detailC .prixD,.refD{
    width: 20%;
    text-align: left;
    font-weight: 200;
}

.details .detailF .detailIPR .pr .detailC .prixD{
    color: #FA303E;
}

.details .detailF .detailO{
    height: 30vh;
    width: 15%;
    margin-left: 5%;
    background-color: rgba(214,214,214,0.20);
    box-shadow: 3px 2px rgba(0,0,0,0.05);
}

.details .detailF .detailO img{
    
    width: 40%;
    margin-top: 20%;
}

.details .detailF .detailO .ownerN{
   text-align: center;
   margin-top: 5%;
   font-weight: 300;
   margin-bottom: 25%;
}

.details .detailF .detailO a{
    align-self: center;

}

.details .detailDescri{
    width: 80%;
    padding-left: 2%;
    padding-right: 2%;
    margin-top: 5%;
}

.details .detailDescri h1{
    font-weight: 300;
}

.details .detailDescri p{
    margin-top: 3%;
    color: #707070;
}

.details .articles{
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
}

.details .articles .articlesT h1{
    font-weight: 300;
}

.details .articles .articlesL{
    display: flex;
    overflow-x: scroll;
    overflow-y: visible;
    width: 100%;
}

.details .articles .articlesL .articlesLC{
    margin-top: 2vh;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.18);
}

.details .articles .articlesL .articlesLC:nth-child(1){
    margin-left: 0%;
}

.details .articles .articlesL .articlesLC img{
    width: 80%;
    margin-left: 10%;
    max-height: 90%;
    margin-top: 5%;
}

.details .articles .articlesL .articlesLC h1{
    width: 80%;
    max-height: 5%;
    margin-left: 10%;
    font-weight: 300;
    margin-top: 5%;
    color:#D98E04;
}
    
.postP{
    margin-left: 10%;
    margin-right: 10%;
}

.postP .postPF .row .col-lg-6 label{
   
}

.postP .postPF .row .col-lg-3 label{
   
}

.postP .postPF .row .col-lg-6 .row .col-md-6 label{
    
}

.postP .postPF .row .col-lg-6 input{
  
}

.postP .postPF .row .col-lg-6 select{
   

}

.postP .postPF .row .col-lg-3 input{
    

}

.postP .postPF .row .col-lg-3 select{

}

.postP .postPF .row .col-lg-6 .row .col-md-6 input{
    
    
}

.postP .postPF .row .col-lg-6 .row .col-md-6 select{
  
}

.postP .postPF .row{
    margin-top: 2%;
}

.under{
    font-size: 10px;
}

.underit{
    font-size: 9px;
    color: #707070;
}


.cl1{
    padding-top: 2%;
    background-color: #707070;
    padding-bottom: 2%;
    color: #FFFFFF;
}

.cl1 h1{
    margin-left: 10%;
    font-weight: 300;
}

.cl2{
    padding-top: .5%;
    background-color: #707070;
    padding-bottom: .5%;
    color: #FFFFFF;
}

.cl2 h1{
    font-weight: 300;
}

.logIn{
    
     
}

.logInFooter{
    background-image: url('img/undraw_collaborators_prrw.png');
    background-repeat: no-repeat;
    position: absolute; 
    background-size: contain;
    background-position: center;
    bottom: 0; 
    z-index: -1;
    min-height: 20%;
    min-width: 30%;
    margin-left: 35%;
}

.logInRight{
    background-image: url('img/undraw_collaborators_prrw.png');
    background-repeat: no-repeat;
    position: absolute; 
    background-size: contain;
    background-position: right;
    z-index: -1;
    width: 30%;
    height: 50%;
    margin-left: 30%;
}

.signUp{
    margin-top: 1%;
    margin-left: 20%;
    margin-right: 10%;
    margin-bottom: 5%;
    height: 80vh;
}

.signUp .signUpRight{
    background-image: url('img/undraw_social_friends_nsbv.png');
    background-repeat: no-repeat;
    position: absolute; 
    background-size: contain;
    background-position: center;
    z-index: -1;
    width: 30%;
    height: 50%;
    margin-left: 30%;
}

/*multi-usage*/

.vp{
    margin-top: 5vh;
}

.formControl{
    border-radius: 20px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width: 90%;
    align-self: center;
    
    border: 1px solid rgba(0,0,0,0.16);
    margin-left: 5%;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);*/
      background-color: #FFF;
    text-align: center;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
}

.formControlReverse{
    border-radius: 20px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width: 90%;
    align-self: center;
    height: 100%;
    border: 1px;
    margin-left: 0%;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);*/
    text-align: center;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
    background-color: rgba(255,255,255,.15);
    color: #FFFFFF;
}

.select-css{
    border-radius: 20px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.select-css1{
    border-radius: 20px;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
    width: 90%;
    margin-left: 5%;
    box-sizing: border-box;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#ffffff 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
    box-shadow: 1px 2px rgba(0,0,0,0.16);
}

.select-css1::-ms-expand {
    display: none;
}
.select-css1:hover {
    border-color: #888;
}
.select-css1:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.select-css1 option {
    font-weight:normal;
}

.ranger{
    min-width: 100%;
    display: flex;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.ranger .colone label{
    margin-left: 5%;
}

.ranger .colone span{
    font-size: 10px;
}

.ranger .colone2 span{
    font-size: 10px;
}

.ranger .colone3 span{
    font-size: 10px;
}

.ranger .colone4 span{
    font-size: 10px;
}

.ranger .colone2 label{
    margin-left: 5%;
}

.ranger .colone3 label{
    margin-left: 5%;
}

.ranger .colone4 label{
    margin-left: 5%;
}

.ranger .colone{
    max-width: 50%;
    min-width: 50%;
    /*padding-left: 1%;*/
    padding-right: 4%;
}

.ranger .colone2{
    max-width: 25%;
    min-width: 25%;
    padding-left: 1%;
    padding-right: 4%;
}

.ranger .colone3{
    max-width: 33%;
    min-width: 33%;
    padding-left: 1%;
    padding-right: 4%;
}

.ranger .colone4{
    max-width: 25%;
    min-width: 25%;
    padding-left: 1%;
    padding-right: 4%;
}

#NatRow, #FamRow{
    display: none;
}


.upload-btn-wrapper {
    position: relative;
    /*overflow: hidden;*/
    display: inline-block;
    background-image: url('img/fup.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 80px;
    min-width: 100%;
    max-height: 80px;
    max-width: 100%;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .upload-btn-wrapper p{
      margin-top: 90px;
      font-size: 10px;
      color: #000000;
  }

/*buttons*/

.btn-primary{
    color:#fff;
    background-color:#F2B904;
    border-color:#F2B904
}
.btn-primary:hover{
    color:#fff;
    background-color:#E8BF3E;
    border-color:#DDAC10
}
.btn-primary.focus,.btn-primary:focus{
    color:#fff;
    background-color:#E8BF3E;
    border-color:#DDAC10;
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}
.btn-primary.disabled,.btn-primary:disabled{
    color:#fff;
    background-color:#F2B904;
    border-color:#F2B904
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{
    color:#fff;
    background-color:#DDAC10;
    border-color:#725701
}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(114,87,1,.5)
}

.btn-secondary{
    color:#707070;
    background-color:rgba(0,0,0,0);
    border-color:rgba(0,0,0,0);
}
.btn-secondary:hover{
    color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0.3);
    border-color:rgba(0,0,0,0.5)
}
.btn-secondary.focus,.btn-secondary:focus{
    color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0.3);
    border-color:rgba(0,0,0,0.5);
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}
.btn-secondary.disabled,.btn-secondary:disabled{
    color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0.3);
    border-color:rgba(0,0,0,0.5)
}
.btn-secondary:not(:disabled):not(.disabled).active,.btn-secondary:not(:disabled):not(.disabled):active,.show>.btn-secondary.dropdown-toggle{
    color:rgba(0,0,0,0);
    background-color:rgba(0,0,0,0.3);
    border-color:rgba(0,0,0,0.5)
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,.btn-secondary:not(:disabled):not(.disabled):active:focus,.show>.btn-secondary.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(114,87,1,.5)
}

.btn-third{
    color:#FFF;
    background-color:#FA303E;
    border-color:#FA303E;
}
.btn-third:hover{
    color:#FFF;
    background-color:#E32936;
    border-color:#E32936
}
.btn-third.focus,.btn-third:focus{
    color:#FFF;
    background-color:#E32936;
    border-color:#FF0B1C;
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}
.btn-third.disabled,.btn-third:disabled{
    color:#FFF;
    background-color:#E32936;
    border-color:#FF0B1C
}
.btn-third:not(:disabled):not(.disabled).active,.btn-third:not(:disabled):not(.disabled):active,.show>.btn-third.dropdown-toggle{
    color:#FFF;
    background-color:#E32936;
    border-color:#FF0B1C
}
.btn-third:not(:disabled):not(.disabled).active:focus,.btn-third:not(:disabled):not(.disabled):active:focus,.show>.btn-third.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(114,87,1,.5)
}

.btn-fourth{
    color:#FFF;
    background-color:#000000;
    border-color:#000000;
}
.btn-fourth:hover{
    color:#FFF;
    background-color:#171717;
    border-color:#1B1B1B
}
.btn-fourth.focus,.btn-fourth:focus{
    color:#FFF;
    background-color:#171717;
    border-color:#1B1B1B;
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}
.btn-fourth.disabled,.btn-fourth:disabled{
    color:#FFF;
    background-color:#171717;
    border-color:#0B0B0B
}
.btn-fourth:not(:disabled):not(.disabled).active,.btn-fourth:not(:disabled):not(.disabled):active,.show>.btn-fourth.dropdown-toggle{
    color:#FFF;
    background-color:#000000;
    border-color: #0B0B0B
}
.btn-fourth:not(:disabled):not(.disabled).active:focus,.btn-fourth:not(:disabled):not(.disabled):active:focus,.show>.btn-fourth.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(114,87,1,.5)
}

.btn-fith{
    color:#000;
    background-color:#F2BE8D;
    border-color:#F2BE8D;
}
.btn-fith:hover{
    color:#000;
    background-color:#F2BE8D;
    border-color:#1B1B1B
}
.btn-fith.focus,.btn-fith:focus{
    color:#000;
    background-color:#171717;
    border-color:#1B1B1B;
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}
.btn-fith.disabled,.btn-fith:disabled{
    color:#000;
    background-color:#171717;
    border-color:#0B0B0B
}
.btn-fith:not(:disabled):not(.disabled).active,.btn-fith:not(:disabled):not(.disabled):active,.show>.btn-fith.dropdown-toggle{
    color:#000;
    background-color:#000000;
    border-color: #0B0B0B
}
.btn-fith:not(:disabled):not(.disabled).active:focus,.btn-fith:not(:disabled):not(.disabled):active:focus,.show>.btn-fith.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(114,87,1,.5)
}

.btn-sixth{
    color:#000;
    background-color:#FFF;
    border-color:#FFF;
}
.btn-sixth:hover{
    color:#000;
    background-color:#FFF;
    border-color:#1B1B1B
}
.btn-sixth.focus,.btn-sixth:focus{
    color:#000;
    background-color:#707070;
    border-color:#3C3C3C;
    box-shadow:0 0 0 .2rem rgba(38,143,255,.5)
}
.btn-sixth.disabled,.btn-sixth:disabled{
    color:#000;
    background-color:#707070;
    border-color:#3C3C3C
}
.btn-sixth:not(:disabled):not(.disabled).active,.btn-sixth:not(:disabled):not(.disabled):active,.show>.btn-sixth.dropdown-toggle{
    color:#000;
    background-color:#707070;
    border-color: #3C3C3C
}
.btn-xixth:not(:disabled):not(.disabled).active:focus,.btn-sixth:not(:disabled):not(.disabled):active:focus,.show>.btn-sixth.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(114,87,1,.5)
}

/*end buttons*/



/*animations*/

@keyframes logothiner {
    0%   {height: 50px;}
    10%   {height: 49px;}
    20%   {height: 48px;}
    30%   {height: 47px;}
    40%   {height: 46px;}
    50%   {height: 45px;}
    60%   {height: 44px;}
    70%   {height: 43px;}
    80%   {height: 42px;}
    90%   {height: 41px;}
    100%   {height: 40px;}
  }

  @keyframes logobigger {
    0%   {height: 40px;}
    10%   {height: 41px;}
    20%   {height: 42px;}
    30%   {height: 43px;}
    40%   {height: 44px;}
    50%   {height: 45px;}
    60%   {height: 46px;}
    70%   {height: 47px;}
    80%   {height: 48px;}
    90%   {height: 49px;}
    100%   {height: 50px;}
  }

  @keyframes buttonMovingRight {
    0%   {margin-left: 0%;}
    10%   {margin-left: 5%;}
    20%   {margin-left: 10%;}
    30%   {margin-left: 15%;}
    40%   {margin-left: 20%;}
    50%   {margin-left: 25%;}
    60%   {margin-left: 30%;}
    70%   {margin-left: 35%;}
    80%   {margin-left: 40%;}
    90%   {margin-left: 45%;}
    100%   {margin-left: 50%;}
  }

  @keyframes buttonMovingLeft {
    0%   {margin-left: 0%;}
    10%   {margin-left: 45%;}
    20%   {margin-left: 40%;}
    30%   {margin-left: 35%;}
    40%   {margin-left: 30%;}
    50%   {margin-left: 25%;}
    60%   {margin-left: 20%;}
    70%   {margin-left: 15%;}
    80%   {margin-left: 10%;}
    90%   {margin-left: 5%;}
    100%   {margin-left: 0%;}
  }

/*end animations*/

@media screen and (max-width: 1366px ){
    .catTitle{
        hyphens: auto;
        font-size: 20px;
        top: 5% !important;
    left: 30% !important;
    }

    .titleRecent img{
        transform: translate(50%,70%);
        height: 250px;
    }

    .titleRecents img{
        transform: translate(400%,-80%);
        height: 220px;
    }

    .recent .recentItem{
        display: block;
    }

    .recent .recentItem .recentImg{
        width: 80%;
        margin-left: 10%;
     }

     .carousel-item{
         height: 100vh;
     }

}

@media screen and (max-width: 1024px){
    .catTitle{
        hyphens: auto;
        font-size: 13px;
    }

    .titleRecents img{
        transform: translate(350%,-80%);
        height: 220px;
    }

    .carousel-item{
        height: 80vh;
    }

    .carousel-item .container h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 991px){
    .titleRecents img{
       display: none;
    }
    .titleRecents{
        background-color: #FFFFFF;
        max-height: 10%;
        margin-top: 5%;
    }

    .titleRecent img{
        display: none;
     }
     .titleRecent{
         background-color: #FFFFFF;
         max-height: 10%;
         margin-top: 5%;
     }

     .catSub{
        list-style: none;
        text-decoration: none;
        text-align: left;
        right: 0 !important;
        bottom: 0;
        position: absolute;
    }

    .carousel-item{
        height: 50vh;
    }

    .carousel-item .container h1{
        font-size: 15px;
    }
}


.spacer{
    min-height: 5%;
    max-height: 5%;
}

.spacer1{
    min-height: 5%;
    max-height: 5%;
}