{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TrocBi</title>
</head>

<body>
    <div class="headerl">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png'%}" alt="" style="height:40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="scrolle btn btn-primary btn-block" {% if user.is_authenticated %} href="/passerannonce" {% else %} href="/login" {% endif %}>Déposer une annonce</a>
                </li>
                <li class="nav-item" style="border-right: #000 solid 1px;">
                  <a class="nav-link" href="#search"><i class="fa fa-search" style="font-size: 20px; font-weight:lighter;"></i></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes favoris</a>
                  </li>
                <li class="nav-item dropdown dropleft">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'img/user.png' %}" style="height:20px;">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Mon profil</a>
                    <a class="dropdown-item" href="logout">Deconnexion</a>
                  </div>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link btn btn-primary" href="login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-secondary" href="signup">Inscription</a>
                  </li>
                  {% endif %}
              </ul>
            </div>
          </nav>
        <div class="content cl" style="margin-top: 50px;">

        </div>
    </div>
    <div class="search" align="center">
        <div class="searchForm">
            <form action="">
                <div class="row form">
                    <div class="col-lg-3">
                        <select name="categorie" id="" class="select-css">
                            {% for prop in sousFamille %}
                            <option>{{ prop.sous_famille}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="" id="" class="formControl">
                    </div>
                    <div class="col-lg-3">
                        <input type="button" value="Rechercher" class="btn btn-secondary">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="details">
        <div class="cat1">
            <h6 class="catT">Catégories:&nbsp;&nbsp;&nbsp;&nbsp;</h6>
            <h6 class="catTs">{{post.nature}}</h6>
        </div>
        <div class="detailF">
            <div class="detailIPR">
                <div class="im">
                    <div class="imB">
                        {% if post.image1.url != null %}
                <img src="{{post.image1.url}}" alt="">
                {% else %}
                <img src="{% static 'img/not-found.png' %}" alt="">
                {% endif %}
                    </div>
                    <div class="imS">
                        <div class="imST">
                            {% if post.image2.url != null %}
                            <img src="{{post.image2.url}}" alt="">
                            {% else %}
                            <img src="{% static 'img/not-found.png' %}" alt="">
                            {% endif %}
                        </div>
                        <div class="imSB">
                            {% if post.image3.url != null %}
                <img src="{{post.image3.url}}" alt="">
                {% else %}
                <img src="{% static 'img/not-found.png' %}" alt="">
                {% endif %}
                        </div>
                    </div>
                </div>
                <div class="pr">
                    <h1 class="detailD">
                        Détails :
                    </h1>
                    <div class="detailT">
                        <h3 class="prix">
                            Prix :
                        </h3>
                        <h3 class="ref">
                            Réf :
                        </h3>
                    </div>
                    <div class="detailC">
                        <h5 class="prixD">
                            {{post.prix_achat}} fcfa
                        </h5>
                        <h5 class="refD">
                            {{post.id}}
                        </h5>
                    </div>
                </div>
            </div>
            <div class="detailO" align="center">
                <img src="{% static 'img/user.png'%}" alt="">
                <h6 class="ownerN">
                    Arame Ndiaye
                </h6>
                <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-third">Contacter</a>
            </div>
        </div>
        <div class="detailDescri">
            <h1>
                Description :
            </h1>
            <p style="font-size: 15px;">
                {{post.description}}
            </p>
        </div>
        <div class="articles">
            <div class="articlesT">
                <h1>Artciles :</h1>
            </div>
            <div class="articlesL">
                <div class="articlesLC">
                    <img src="img/howard-bouchevereau-RSCirJ-2.png" alt="">
                    <h1>MacBook Pro 2016</h1>
                </div>
                <div class="articlesLC">
                    <img src="img/howard-bouchevereau-RSCirJ-2.png" alt="">
                    <h1>MacBook Pro 2016</h1>
                </div>
                <div class="articlesLC">
                    <img src="img/howard-bouchevereau-RSCirJ-2.png" alt="">
                    <h1>MacBook Pro 2016</h1>
                </div>
                <div class="articlesLC">
                    <img src="img/howard-bouchevereau-RSCirJ-2.png" alt="">
                    <h1>MacBook Pro 2016</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="row" style="width: 100%;">
            <div class="col-lg-6 social">
                <ul class="su">
                    <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6 nc">
                Contact Number: 00221773832393
            </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'popper.min.js'%}"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".nav");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });

        function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
    </script>
</body>

</html>