{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TrocBi</title>
</head>

<body>
    <div class="headerl">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png'%}" alt="" style="height:40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link scrolle btn btn-primary" {% if user.is_authenticated %} href="/passerannonce" {% else %} href="/login" {% endif %}>Déposer une annonce</a>
                </li>
                <li class="nav-item" style="border-right: #000 solid 1px;">
                  <a class="nav-link" href="#search"><i class="fa fa-search" style="font-size: 20px; font-weight:lighter;"></i></a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Mes favoris</a>
                  </li>
                <li class="nav-item dropdown dropleft">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="{% static 'img/user.png' %}" style="height:20px;">
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="profile">Mon profil</a>
                    <a class="dropdown-item" href="logout">Deconnexion</a>
                  </div>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="btn btn-primary btn-block" href="login">Connexion</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-secondary btn-block" href="signup">Inscription</a>
                  </li>
                  {% endif %}
              </ul>
            </div>
          </nav>
        <div class="content cl" style="margin-top: 50px;">
            
        </div>
    </div>
    <div class="search" align="center">
        <div class="searchForm">
            <form action="">
                <div class="row form">
                    <div class="col-lg-3">
                        <select name="categorie" id="" class="form-control">
                            {% for prop in sousFamille %}
                            <option>{{ prop.sous_famille}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <input type="button" value="Rechercher" class="btn btn-third btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="recent">
        {% if prop %}

        {% for prop in prop %}
        {% for p in p %}
        {% for p in p %}
        {% if prop.id|slugify == p|slugify %}
        
        <div class="row recentItem" onclick="linkTo('{{ prop.id }}')">
            <div class="col-lg-4 recentImg">
                {% if prop.image1.url != null %}
                <img src="{{prop.image1.url}}" alt="">
                {% else %}
                <img src="{% static 'img/not-found.png' %}" alt="">
                {% endif %}
            </div>
            <div class=" col-lg-8 recentDetails">
                <h3 class="recentDetailsTitle">
                    {{ prop.name}}
                </h3>
                <div class="recentDetailsDescrip">
                    <h6 class="recentDetailsDescripSub">
                        Stockage 128 Go
                    </h6>
                    <h6 class="recentDetailsDescripAddress">
                        Dakar, Guelue Tapé-Fass-Colobane
                    </h6>
                </div>
                <h1 class="Price">
                    {{ prop.prix_achat}}
                </h1>
                <h6 class="owner">
                    Arame Ndiaye
                </h6>
                <h6 class="ref">
                    Ref: 05775O869
                </h6>
                <h6 class="miseEnLigne">
                    Mise en ligne: {{ prop.pub_date}}
                </h6>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
        {% endfor %}
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
        <div class="pos">
            <div class="row">
                <div class="col-lg-2 col-sm-2">
            <div class="posLeft"><span>&#x2039;</span></div>
                </div>
                <div class="col-lg-8 col-sm-8">
            <div class="posScale">
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
            </div>
                </div>
                <div class="col-lg-2 col-sm-2">
            <div class="col-lg-2 posRight"><span>&#x203A;</span></div>
            </div> 
            </div>
        </div>
    </div>
    <div class="footer black">
        <div class="row" style="width: 100%;">
            <div class="col-lg-6 social">
                <ul class="su">
                    <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6 nc">
                Contact Number: 00221773832393
            </div>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'popper.min.js'%}"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".nav");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });

        function linkTo(id) {
            window.location.href = "/" + id + "/";
        }
    </script>
</body>

</html>