{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TrocBi</title>
</head>

<body>
    <div class="headerl">
        <div class="nav">
            <div class="logo">
                <img src="{% static 'img/logo.png'%}" alt="">
            </div>
            <div class="sub">
                <ul>
                    <li>
                        <a class="scrolle button-small button-primary" {% if user.is_authenticated %} href="passerannonce" {% else %} href="login" {% endif %}>Déposer une annonce</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a class="st" href="#">Mes favoris</a></li>
                    <li>
                    <div class="dropdown">
                        <img src="{% static 'img/user.png' %}" onclick="myFunction()" class="dropbtn">
                        <div id="myDropdown" class="dropdown-content">
                          <a href="#">Mon profil</a>
                          <a href="logout">Se déconnecter</a>
                        </div>
                      </div>
                    </li>
                    {% else %}
                    <li>
                        <a href="login" class="button-small button-primary">Connexion</a>
                    </li>
                    <li>
                        <a class="button-small button-flat">Inscription</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="content cl">
            
        </div>
    </div>
    <div class="search">
        <div class="searchForm">
            <form action="">
                <div class="row form">
                    <div class="col-lg-3">
                        <select name="categorie" id="" class="select-css">
                            {% for prop in sousFamille %}
                            <option>{{ prop.sous_famille}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="" id="" class="formControl">
                    </div>
                    <div class="col-lg-3">
                        <input type="button" value="Rechercher" class="button button-secondary">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="recent">
        {% if prop %}

        {% for prop in prop %}
        <div class="recentItem" onclick="linkTo('{{ prop.id }}')">
            <div class="recentImg">
                {% if prop.image1.url != null %}
                <img src="{{prop.image1.url}}" alt="">
                {% else %}
                <img src="{% static 'img/not-found.png' %}" alt="">
                {% endif %}
            </div>
            <div class="recentDetails">
                <h1 class="recentDetailsTitle">
                    {{ prop.name}}
                </h1>
                <div class="recentDetailsDescrip">
                    <h6 class="recentDetailsDescripSub">
                        Stockage 128 Go
                    </h6>
                    <h6 class="recentDetailsDescripAddress">
                        Dakar, Guelue Tapé-Fass-Colobane
                    </h6>
                </div>
                <h1 class="Price">
                    {{ prop.prix_achat}}
                </h1>
                <h6 class="owner">
                    Arame Ndiaye
                </h6>
                <h6 class="ref">
                    Ref: 05775O869
                </h6>
                <h6 class="miseEnLigne">
                    Mise en ligne: {{ prop.pub_date}}
                </h6>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No polls are available.</p>
        {% endif %}
        <div class="pos">
            <div class="posLeft"><span>&#x2039;</span></div>
            <div class="posScale">
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
                <div class="posScaleCh"></div>
            </div>
            <div class="posRight"><span>&#x203A;</span></div>
        </div>
    </div>
    <div class="footer">
        <div class="social">
            <ul class="su">
                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="nc">
            Contact Number: 00221773832393
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        $(function () {
            $(document).scroll(function () {
                var $nav = $(".nav");
                $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
            });
        });
    </script>
</body>

</html>