altgraph==0.10.2
asgiref==3.2.5
asn1crypto==0.24.0
astroid==2.3.3
bdist-mpkg==0.5.0
bonjour==0.0.3
certifi==2019.11.28
cffi==1.12.2
chardet==3.0.4
Click==7.0
cryptography==2.6.1
dj-database-url==0.5.0
Django==3.0.4
django-bootstrap-form==3.4
enum34==1.1.6
Flask==0.12.2
future==0.17.1
gunicorn==20.0.4
idna==2.6
ipaddress==1.0.22
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
macholib==1.5.1
MarkupSafe==1.1.1
mccabe==0.6.1
modulegraph==0.10.4
Pillow==7.0.0
psycopg2-binary==2.8.4
py2app==0.7.3
pycparser==2.19
pylint==2.4.4
pyOpenSSL==19.0.0
pyparsing==2.0.1
python-dateutil==1.5
pytz==2013.7
requests==2.18.4
scipy==0.13.0
six==1.12.0
sqlparse==0.3.1
typed-ast==1.4.0
urllib3==1.22
Werkzeug==0.16.0
whitenoise==5.0.1
wrapt==1.11.2
