{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TrocBi</title>
</head>

<body class="logIn">
    <div class="headerl">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png'%}" alt="" style="height:40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="btn btn-third btn-block" href="#search"><i class="fa fa-search" style="font-size: 20px; font-weight:lighter;"> Rechercher</i></a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="cl2" style="margin-top: 50px;">
            <h1 style="text-align: center;">Se Connecter</h1>
        </div>
    </div>
    <div class="row" style="min-height: 100%;">
    <div class="col-lg-2">
    </div>
        <div class="col-lg-3" style="padding: 3%;">
            <div class="container" style="border: 1px solid rgba(112,112,112,.16);box-shadow: 1px 2px rgba(0,0,0,0.16); padding: 10%;">
        <div>
            <h6 style="text-align: center;">Bonjour</h6>
            <p>Connectez-vous pour découvrir toutes nos fonctionnalités.</p>
        </div>
        <div class="formLogin">
            <form action="/loginprocess" method="POST">
                

                {{error}}
                {% csrf_token %}
                <div>
                    <label for="logID">Login</label><br>
                    <input type="text" name="logID" id="logID" class="form-control">
                </div>
                <div>
                    <label for="passwd">Mot de passe</label>
                    <input type="password" name="passwd" id="passwd" class="form-control">
                    {% if error == 'yes' %}
                    <div style="color: red; font-size: 12px;">
                    Le nom d'utlisateur et/ou le mot de passe sont erronés.
                    </div>
                    {% endif %}
                    <small><a href="/password-reset">Mot de passe oublié</a></small>
                </div>
                <div class="align-content-xl-center" style="padding-left: 20%; padding-right: 20%; padding-top: 2%;" align="center">
                    <input type="submit" value="Se connecter" class="btn btn-sm btn-third btn-block">
                </div>
            </form>
        </div>
        <div class="signIn">
            <hr>
             <p>Envie de nous rejoindre? Créer un compte</p>
             <div class="align-content-xl-center" style="padding-left: 20%; padding-right: 20%; padding-top: 2%;" align="center">
             <a href="/signup" class="btn btn-sm btn-fourth btn-block">S'inscrire</a>
             </div>
        </div>
        </div>
        </div>
        <div class="col-lg-7" style="background-image: url('{% static "img/undraw_collaborators_prrw.png" %}'); background-size: 50% 50%; background-position:left; background-repeat: no-repeat; min-height:75vh;"></div>
    </div>
    <div class="footer saumon">
        <div class="col-lg-6">
        <div class="social">
            <ul class="su">
                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="nc">
            Contact Number: 00221773832393
        </div>
    </div>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'popper.min.js'%}"></script>
</body>
</html>