{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Connexion</title>
</head>

<body>
    <div class="loginForm" align='center'
        style="min-width: 300px; max-width: 300px; min-height: 200px; max-height: 200px; position: absolute; top: calc(50% - 100px); left: calc(50% - 150px);">
        <div class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </div>
        <div class="formLogin">
            <form action="loginprocess" method="POST">
                {% csrf_token %}
                <div style="line-height: 35px">
                    <label for="logID">Login</label><br>
                    <input type="text" name="logID" id="logID" class="formControl">
                </div>
                <div style="line-height: 35px">
                    <label for="passwd">Mot de passe</label>
                    <input type="password" name="passwd" id="passwd" class="formControl">
                </div>
                <div style="padding-left: 5%; padding-top: 5%;">
                    <input type="submit" value="Se connecter" class="button button-fourth">
                </div>
            </form>
        </div>
    </div>
</body>

</html>