{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TrocBi</title>
    <style>
        .MP {
            margin-left: 10%;
            margin-right: 10%;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .MP .inf {
            border: 1px solid rgba(112, 112, 112, .16);
            box-shadow: 1px 2px rgba(0, 0, 0, 0.16);
            padding: 3%;
            margin-left: 5%;
            margin-right: 5%;
        }

        .MP .cmp {
            border: 1px solid rgba(112, 112, 112, .16);
            box-shadow: 1px 2px rgba(0, 0, 0, 0.16);
            padding: 3%;
            margin-left: 5%;
            margin-right: 5%;
            margin-top: 3%;
        }

        

        .cen {

            margin-left: 25%;
            top: 0;
        }

        .imnd .form-group {
            color: rgba(0, 0, 0, 0.0);
        }

        .imnd .form-group input{
            color: rgba(0, 0, 0, 1);
        }

       .imnd .form-group label,a{
            display: none;
            color: rgba(0, 0, 0, 0.0);
        }
    </style>
</head>

<body class="logIn">
    <div class="headerl">
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="/"><img src="{% static 'img/logo.png'%}" alt="" style="height:40px;"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="btn btn-third btn-block" href="/#search"><i class="fa fa-search"
                                style="font-size: 20px; font-weight:lighter;"> Rechercher</i></a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mes favoris</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.profile.avatar.url == '' %}
                    <img id="pp" src="{% static 'img/user.png' %}" alt="" style="height:20px;">
                    {% else %}
                    <img id="pp" src="{{user.avatar.avatar.url}}" alt="" style="height:20px; border-radius: 50%;">
                    {% endif %}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="profile">Mon profil</a>
                            <a class="dropdown-item" href="logout">Deconnexion</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="btn btn-primary btn-block" href="login">Connexion</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-secondary block" href="signup">Inscription</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <div class="cl2">
            <h1 style="text-align: center;">Profil</h1>
        </div>
    </div>
    <div class="MP">
        <div class="inf">
            <fieldset>
                <legend>Informations</legend>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group but">
                                {{ user_form.last_name | bootstrap }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group but">
                                {{ user_form.first_name | bootstrap }}
                            </div>
                        </div>
                        <div class="col-lg-4 imnd" align="center">
                            <div class="row cen">
                                <p style="text-align: center; width: 30%;">Photo de profil</p>
                            </div>
                            <div class="row cen">
                                {% if user.profile.avatar.url == '' %}
                                <img id="pp" src="{% static 'img/user.png' %}" alt="" style="width: 50%;">
                                {% else %}
                                <img id="pp" src="{{user.avatar.avatar.url}}" alt="" style="width: 50%; border-radius: 50%;">
                                {% endif %}
                            </div>
                            {{ avatar_form.avatar | bootstrap }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ user_form.username | bootstrap }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ profile_form.address | bootstrap }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ profile_form.tel | bootstrap }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" class="btn btn-third" value="Enregistrer">
                    </div>
                </form>
            </fieldset>
        </div>
        <!--<div class="cmp">
            <fieldset>
                <legend>Modifier mon mot de passe</legend>
                <form action="" method="post"></form>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="nu">Ancien mot de passe</label>
                            <input type="text" name="nu" id="nu" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="address">Nouveau Mot de passe</label>
                            <input type="text" name="address" id="address" class="form-control">
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="tel">Conrfirmer nouveau mot de passe</label>
                            <input type="tel" name="tel" id="tel" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-third" value="Changer">
                </div>
            </fieldset>
        </div>-->
    </div>
    <div class="footer">
        <div class="social">
            <ul class="su">
                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="nc">
            Contact Number: 00221773832393
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="{% static 'bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'popper.min.js'%}"></script>
</body>

</html>