{% load static %}
{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>TrocBi</title>
    <style>
        .help-block{
            display: none;
        }

        .form-group ul li{
            display: none;
        }

        .form-group{
            margin-top: .5%;
            margin-bottom: 0;
            padding: 0;
        }
    </style>
</head>

<body class="logIn">
    <div class="headerl">
        <div class="nav">
            <div class="logo">
                <a href="/"><img src="{% static 'img/logo.png'%}" alt=""></a>
            </div>
            <div class="sub">
                <ul>
                    <li>
                        <a class="scrolle btn btn-fourth" {% if user.is_authenticated %} href="/passerannonce"
                            {% else %} href="/login" {% endif %}><img src="{% static 'img/add-button.png' %}"> Déposer
                            une annonce</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li><a class="st" href="#">Mes favoris</a></li>
                    <li>
                        <div class="dropdown">
                            <img src="{% static 'img/user.png' %}" onclick="myFunction()" class="dropbtn">
                            <div id="myDropdown" class="dropdown-content">
                                <a href="#">Mon profil</a>
                                <a href="/logout">Se déconnecter</a>
                            </div>
                        </div>
                    </li>
                    {% else %}
                    <li>
                        <a href="/login" class="btn btn-primary">Connexion</a>
                    </li>
                    <li>
                        <a href="/signup" class="btn btn-secondary">Inscription</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="content cl">

        </div>
    </div>
    <div class="search" align="center">
        <div class="searchForm">
            <form action="">
                <div class="row form">
                    <div class="col-lg-3">
                        <select name="categorie" id="" class="form-control">
                            {% for prop in sousFamille %}
                            <option>{{ prop.sous_famille}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" name="" id="" class="form-control">
                    </div>
                    <div class="col-lg-3">
                        <input type="button" value="Rechercher" class="btn btn-third btn-block">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="signUp">
        <h1>Inscription</h1>
        <div
            style="max-width: 20%; min-width: 20%; position: absolute; margin-top: 1%; border: 1px solid rgba(112,112,112,.16);box-shadow: 1px 2px rgba(0,0,0,0.16); padding-top: 1%; padding-left: 5%; padding-right: 5%; padding-bottom: 1%;">

            <div class="loginForm">
                <div class="formHeader">
                    <h6 style="text-align: center;">Bonjour</h6>
                    <p>Inscrivez-vous pour utiliser toutes nos fonctionnalités.</p>
                </div>
                <div class="formLogin">
                    <form action="/signup" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                            {{ field | bootstrap}}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        
                        {% endfor %}
                        <div class=".align-content-xl-center"
                            style="padding-left: 20%; padding-right: 20%; padding-top: 2%;" align="center">
                            <input type="submit" value="S'inscrire" class="btn btn-sm btn-third btn-block">
                        </div>
                    </form>
                </div>
            </div>
            <div class="signIn">
                <hr>
                <p>Déjà un compte ? Alors Connectez-vous :)</p>
                <div class=".align-content-xl-center" style="padding-left: 20%; padding-right: 20%; padding-top: 2%;"
                    align="center">
                    <a href="/login" class="btn btn-sm btn-fourth btn-block">Se connecter</a>
                </div>
            </div>
        </div>
        <div style="" class="signUpRight"></div>
    </div>
    <div class="footer" style="position: absolute; bottom: 0; min-width: 100%;">
        <div class="social">
            <ul class="su">
                <li><a href=""><i class="fa fa-facebook-square"></i></a></li>
                <li><a href=""><i class="fa fa-twitter"></i></a></li>
                <li><a href=""><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="nc">
            Contact Number: 00221773832393
        </div>
    </div>
</body>

</html>